

html, body, h1, h2, h3, h4,
h5, h6, p, a, li, ul
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 14px;
}

*
{
    box-sizing: border-box;
}
